/* 
dark purple: #391361
light purple: #9e5ce3  
medium purple: #914ddb
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Varela Round", sans-serif;
}

header {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

header button {
    width: 150px;
    height: 40px;
    display: block;
    cursor: pointer;
    border: 2px solid #391361;
    margin-top: 12px;
    background-color: #fff;
    border-radius: 10px;
    color: #391361;
}

.header-logo {
    max-width: 15%;
}

.cart {
    display: inline-block;
    color: #391361;
    font-size: 2em;
    margin-top: 15px;
    margin-right: 20px;
}

.cart:hover {
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    border-top: 3px solid #391361;
    border-bottom: 3px solid #391361;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 8px 0;
}

nav ul li a {
    color: #391361;
    text-decoration: none;
    transition-duration: 3s;
    font-weight: 600;
}

nav ul li:hover {
    text-decoration: underline;
    transition-duration: 3s;
    font-weight: bold;
}

#complaints-link, #orders-link, #chat-link {
    display: none;
}

main {
    margin: 40px;
}

.filter_title {
    font-size: 1.5em;
}

.products-main-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 30px;
}

.products {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.products div {
    border: 2px solid #391361;
    border-radius: 8px;
    padding: 20px;
    margin: 20px
}

.products div img {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.product-vender-name {
    display: block;
    text-decoration: underline;
    cursor: pointer;
}

.products div p {
    text-indent: 30px
}

.products div .product-vender-name, .product-vender-name {
    font-size: .75em;
    margin-bottom: 8px
}

.products div .product-btn-grid {
    border: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.products div .product-btn-grid p {
    text-indent: 0px;
}

.products div .product-btn-grid a {
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.9em;
}

#product-reset {
    background-color: #fff;
    margin: 30px 0;
    border: 2px solid #391361;
    padding: 10px 20px;
    border-radius: 12px;
    color: #391361;
}

#product-reset:hover {
    cursor: pointer;
}

.add-product-btn {
    color: #391361;
    padding: 10px;
    border: 2px solid #391361;
    border-radius: 20px;
    margin: 0 auto;
    cursor: pointer;
}

/*add product pop up*/

.add-product-title {
    text-align: center;
    color: #391361;
    font-size: 2.5em;
}

.addform, .editform {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 10px 15px;
}

.addform label {
    align-self: center;
}

.addform input[type="text"],
.addform input[type="number"],
.editform input[type='text'],
.editform input[type='number'] {
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
}

.product-options {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 10px;
}

.colors-section div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.colors-section label {
    width: 100px; 
}

.colors-section input {
    flex: 1;
    max-width: 200px;
}

.upload-section {
    grid-column: span 2;
    text-align: center;
    margin-top: 10px;
}

#new-product-img {
    display: block;
    margin: 10px auto;
}

#vendor-new-product {
    width: 100%;
}

.center {
    grid-column: span 2;
    text-align: center;
}

.confirm-add-product-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #391361;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fff;
}

/*product pop up*/

.pop-up, .addProduct, .editProduct, .deleteProduct {
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    border: 4px solid #391361;
    width: 20%;
    height: 55%;
    padding: 25px;
    overflow-y: scroll;
}

.pop-up {
    overflow-x: hidden;
}

#vendorChat {
    display: block;
    position: absolute;
    right: 0;
}

.pop-up img {
    display: block;
    width: 300px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.pop-up-carosel {
    display: flex;
    justify-content: space-between;
    width: 320px;
    overflow-x: scroll;
    margin-bottom: 16px;
}

.pop-up-grid {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.delete-product-txt {
    text-align: center;
    font-size: 1.5em;
    color: #391361;
    margin-top: 42.5%;
}

.delete-btn-grid {
    display: flex;
    justify-content: center;
}

.delete-btn-grid input {
    margin: 10px;
}

.confirm {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #391361;
    padding: 10px 20px;
    margin-top: -20px;
    border-radius: 18px;
    cursor: pointer;
}

.confirm:active, .confirm-add-product-btn:active, .add-product-btn:active, #product-reset:active {
    background-color: #391361;
    color: #fff;
}

footer {
    border-top: 3px solid #391361;
    margin-bottom: 20px;
}

.copy {
    margin-top: 30px;
    margin-bottom: 10px;
} 

.footer-grid {
    display: flex;
    justify-content: space-around;
    margin: 0 15%;
}

.footer-logo {
    width: 125px;
}

.footer-grid div ul {
    list-style-type: none;
    margin-top: 24px;
}

.footer-grid div ul li a {
    text-align: center;
    display: block;
    color: #391361;
    margin: 14px 0;
    text-decoration: none;
    font-weight: 600;
}

.footer-grid div ul li a:hover {
    text-decoration: underline;
}

/* login/register */
.login_register_div {
    width: 400px;
    height: 500px;
    border: 3px solid #391361;
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.panel_button {
    display: flex;
    justify-content: center;
}

.login_register_div button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: white;
    border: 2px #391361 solid;
    border-radius: 15px;
    color: #391361;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.login_register_div button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.panel_container {
    display: flex;
    width: 800px;
    transition: transform 0.5s ease;
    transform: translateX(0);
}

.panel_container.show-signup {
    transform: translateX(-400px);
}

.panel {
    width: 400px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.panel::-webkit-scrollbar {
    width: 6px;
}

.panel::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

.panel::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.panel h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #391361;
}

.panel label{
    display: block;
    margin-top: 10px;
    font-size: 18px;
}

.panel input {
    width: 100%;
    height: 50px;
    border: 2px solid #391361;
    border-radius: 10px;
    padding-left: 5px;
    margin-top: 5px;
}

.switch {
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: blue;
}

.switch:hover {
    color: darkblue;
}

/* account */
.account_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px 20px;
}

.account_label {
    margin-bottom: 20px;
    text-align: center;
    color: #391361;
}

#account_form {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.row_one,
.row_two {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-wrap: wrap;
}

.row_one > div,
.row_two >div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    min-width: 180px;
}

#account_form label {
    margin-bottom: 6px;
}

#account_form input {
    width: 100%;
    padding: 8px 10px;
    border: 2px solid #391361;
    border-radius: 6px;
}

#account_form button[type="button"] {
    margin-top: 8px;
    padding: 5px 10px;
    cursor: pointer;
    border: 2px solid #391361;
    border-radius: 5px;
    background-color: white;
    color: #391361;
}

#account_form button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#account_form button:hover {
    font-size: medium;
}

.form_actions {
    display: flex;
    justify-content: center;
}

.form_actions button {
    width: 150px;
    height: 50px;
    border: 2px solid #391361;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: #391361;
}

/* Admin Complaint */
.admin_complaint_panels {
    display: flex;
    height: 80vh;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
}

.admin_inbox {
    width: 30%;
    border: 3px solid #391361;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.admin_inbox_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: #391361;
}

.admin_inbox_filter_div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.admin_inbox_filter_div select {
    padding: 6px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.admin_complaint_response {
    width: 70%;
    border: 3px solid #391361;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    position: relative;

    overflow: hidden;
}

.admin_complaint_response.active {
    background-color: white;
}

.admin_inbox_list {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.complaint_item {
    padding: 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-weight: 500;
}

.complaint_item:hover {
    background-color: #f3f0f8;
}

.complaint_item.active {
    background-color: #dcd2f5;
    font-weight: bold;
}

.response_placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 20px;
    font-weight: 500;
}


.admin_hidden {
    display: none !important;
}

.response_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

.response_messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.responses {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 60%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    line-height: 1.4;
}

.customer {
    background-color: #e5e5ea;
    align-self: flex-start;
}

.vendor {
    background-color: #391361;
    color: white;
    align-self: flex-end;
}

.response_input_bar {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.response_input_bar input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.response_input_bar button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #391361;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

/*Vendor Chat*/
.vendor_chat_panels {
    display: flex;
    height: 80vh;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
}

.vendor_inbox {
    width: 30%;
    border: 3px solid #391361;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.vendor_inbox_label {
    font-size: large;
    color: #391361;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}

.vendor_chat_box {
    width: 70%;
    border: 3px solid #391361;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    position: relative;

    overflow: hidden;
}

.vendor_chat_box.active {
    background-color: white;
}

.vendor_inbox_list {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.chat_item {
    padding: 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-weight: 500;
}

.chat_item:hover {
    background-color: #f3f0f8;
}

.chat_item.active {
    background-color: #dcd2f5;
    font-weight: bold;
}

.chat_placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 20px;
    font-weight: 500;
}


.hidden {
    display: none !important;
}

.chat_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    background-color: white;
}

.chat_messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.message {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 60%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    line-height: 1.4;
}

.customer {
    background-color: #e5e5ea;
    align-self: flex-start;
}

.vendor {
    background-color: #391361;
    color: white;
    align-self: flex-end;
}

.chat_input_bar {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chat_input_bar input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.chat_input_bar button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #391361;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

/* misc */

.center {
    margin: 0 auto;
}

.center-txt {
    text-align: center;
}

.bold {
    font-weight: bold;
}

/* cart */
.cart-grid {
    width: 90%;
    margin: 30px auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
}

.cart-item {
    background-color: #fff;
    border: 3px solid #391361;
    border-radius: 12px;

    padding: 20px;
    min-height: 220px;       
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 0.2s ease;
}

.cart-item:hover {
    transform: scale(1.05);
}

.cart-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #391361;
}

.cart-vendor {
    font-size: 0.9rem;
    color: #914ddb;
}

.cart-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #391361;
}

.remove-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: 2px solid #391361;
    cursor: pointer;
    font-weight: bold;
    align-self: flex-end;
}

#img {
    width: 120px;
    float: left;
}

.cart-img {
    width: 120px;     
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #914ddb;
    margin-bottom: 10px;
}

/* .hidden {
    display: none;
}

.visible {
    display: block;
} */

.confirm-box {
    width: 70%;
    margin: 25px auto;
    background: #ffffff;
    border: 3px solid #391361;
    border-radius: 12px;
    padding: 20px;
}

.confirm-box input,
.confirm-box select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border: 2px solid #914ddb;
    border-radius: 8px;
    font-size: 1rem;
}

.center-txt {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.admin-order-item {
    background: #fff;
    border: 3px solid #391361;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
}

.checkout-btn {
    background-color: #391361;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    border: 2px solid #391361;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.checkout-btn:hover {
    transform: scale(1.05);
}

.admin-container {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.pending-orders,
.confirm-box-admin {
    width: 50%;
    padding: 25px;
    border: 3px solid #391361; 
    border-radius: 18px;
    background: #ffffff;
    box-sizing: border-box;
}

.pending-orders h2,
.confirm-box-admin h2 {
    color: #391361;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.order-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Order card */
.order-item {
    padding: 18px;
    border: 3px solid #914ddb;    
    border-radius: 14px;
    background: #f7f0ff;              
    cursor: grab;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.order-item:hover {
    transform: scale(1.03);
}

.order-item.dragging {
    opacity: 0.5;
    transform: scale(0.97);
}

/* Confirm drop zone */
.confirm-box-admin {
    min-height: 350px;
    background: #f0fff0;
    border: 3px dashed #2e8b57;

#confirmedOrders .order-item {
    background: #d4ffd4;              
    border-color: #2e8b57;
}
}