{% extends "template.html" %}

{% block title %}My Account{% endblock %}

{% block content %}
<div class="account_div">
    <div class="account_label">
        <h1>Account</h1>
    </div>
    <form action="/account" id="account_form" method="POST">
        <div class="row_one">
            <div class="field">
                <label>Username</label>
                <input type="text" name="account_username" id="account_username" value="{{ user.username}}" readonly>
                <button type="button" onclick="toggleEdit('account_username')">Edit</button>
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="account_password" placeholder="Levae blank to keep current password " readonly>
                <button type="button" onclick="toggleEdit('account_password')">Edit</button>
            </div>

            <div class="field">
                <label>Email</label>
                <input type="text" name="account_email" id="account_email" value="{{ user.email_address }}" readonly>
                <button type="button" onclick="toggleEdit('account_email')">Edit</button>
            </div>
        </div>
        <div class="row_two">
            <div class="field">
                <label>First Name</label>
                <input type="text" name="account_first_name" id="account_first_name" value="{{ user.first_name }}" readonly>
                <button type="button" onclick="toggleEdit('account_first_name')">Edit</button>
            </div>

            <div class="field">
                <label>Last Name</label>
                <input type="text" name="account_last_name" id="account_last_name" value="{{ user.last_name }}" readonly>
                <button type="button" onclick="toggleEdit('account_last_name')">Edit</button>
            </div>
        
            <div class="field">
                <label>Role</label>
                <input type="text" value="{{ user.role }}" readonly>
            </div>
        </div>
        <div class="form_actions">
            <button type="submit">Save Changes</button>
        </div>
    </form>
    <div class="orders_section">
        <h2>Previous Orders</h2>

        {% if orders %}
            <table class="orders_table">
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Total</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{ order.order_id }}</td>
                    <td>{{ order.date }}</td>
                    <td>{{ order.status }}</td>
                    <td>${{ order.total_price }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No previous orders.</p>
        {% endif %}
    </div>
</div>
{% endblock %}